PostgreHost=localhost
PostgrePort=5432
PostgreDatabase=postgres
PostgreUser=postgres
PostgrePassword=
API_PORT=3000
CORS_ORIGIN=http://localhost:5173
APP_URL=http://localhost:5173
AWS_SMTP_HOST=email-smtp.us-east-1.amazonaws.com
AWS_SMTP_PORT=587
AWS_SMTP_USERNAME=
AWS_SMTP_PASSWORD=
AWS_SMTP_FROM_EMAIL=
AWS_SMTP_FROM_NAME=Skyfit
EVO_CRED_KEY=
