BRIDGE_PORT=4000
BACK_URL=https://gym-conversion-tracker-437354431924.southamerica-east1.run.app
FRONT_DIST=../front/build
EVO_PERFIS_DIR=.cache/perfis
EVO_SCREENSHOTS_DIR=screenshots
EVO_TIMEOUT_MS=90000
